/* 
barvy medor 
#0077b8 modra
#ffad00 oranzova 
#00ad22 zelena  
*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Styly pro ProductList */
.product-list {
  margin-bottom: 20px;
}

.product-list h2 {
  margin-bottom: 10px;
}

.product-list table {
  width: 100%;
  border-collapse: collapse;
}

.product-list th,
.product-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Styly pro AddProductForm */
.app-form {
  width: 1000px;
}
.add-product-form {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
}

.add-product-form h2 {
  margin-bottom: 10px;
}

.add-product-form label {
  display: block;
  margin-bottom: 10px;
}

.add-product-form input[type="text"],
.add-product-form select,
.add-product-form input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-product-form button {
  background-color: #00ad22;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-product-form button:hover {
  background-color: #01c929;
  transition: 100ms ease-in-out;
}
.add-product-form button:active {
  background-color: #01831b;
  transition: 100ms ease-in-out;
}